.splash {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a1/Minato_Mirai_In_Blue.jpg');
  // background-image: url('https://static.pexels.com/photos/30732/pexels-photo-30732.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.mui-btn--primary {
  background-color: #FF7300;
}
.mui-btn--primary:focus {
  background-color: white;
}
.mui--text-display2 {
  font-family: Arial narrow;
  font-weight: 900;
  font-size: 55px;
  color: white;
}
.splash-container {
  color: white;
  text-shadow: -1px -1px 26px black;
  text-align: center;
  margin-bottom: 250px;
}
.splash-container-contain {
  width: 420px;
  height: 300px;
  vertical-align: middle;
  padding-top: 60px;
  margin: 0 auto;
  border: 6px solid white;
  text-align: center;
  font-family: 'Farsan';
  font-size: 22px;
  box-shadow: -2px -2px 107px #757070;
}
.splash-arrow {
  margin: 0 auto;
}
.brand {
  font-family: 'Baloo Thambi';
  font-size: 60px;
  padding-top: 10px;
  text-shadow: -4px -4px 9px #353434;
}
.questionnaire {
  background-color: #0063aa;
  padding: 0px 100px;
  margin: 0 auto;
}

.footer>a, .footer>a:hover, .footer>a:focus {
  color: white;
  font-weight: bold;
}
.footer>a:hover {
  font-size: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  padding-bottom: 10px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
}


i.fa.fa-map {
  font-size: 80px;
}

i.fa.fa-map-marker {
  font-size: 80px;
}

i.fa.fa-angle-down {
  font-size: 50px;
  font-weight: bold;
}
#intro-panel {
  background-color: #ff7300;
  width: 100%;
}
.intro-row {
  margin-bottom: 100px;
}
h1.intro-title {
  padding-top: 240px;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
  font-family: "Baloo Thambi";
}

p.intro-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.intro-text-container {
  padding-left: 190px;
  text-shadow: -1px -1px 10px black;
}

div.intro-title {
  font-family: "Baloo Thambi";
  top: 100px;
  position: fixed;
}
span.intro-www {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
p.intro-message {
  font-family: 'Droid serif';
}
img.intro-image {
  margin-bottom: 20px;
  border-radius: 10%;
  width: 100%;
  padding: 20px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.intro-text-container {
  margin-top: -20px;
}
.intro-arrow {
  margin-top: 100%;
}



// Who Component
#who-row {
  margin-bottom: 250px;
}
#who-container {
  margin-top: 25px;
}
#who-arrow {
  margin-top: 170px;
}
h5.who-title {
  font-family: "Baloo Thambi";
}
.who-female-img-container {
  padding-left: 30px;
}gtup
.who-kids-counter {
  padding-left: 70px;
}
.male-counter {
  padding-left: 60px;
}
.female-counter {
  padding-left: 40px;
}
div.counter-text {
  font-size: 40px;
  font-family: 'Baloo Thambi';
  color: white;
}
img.who-male-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
img.who-female-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
img.who-kids-img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
img.who-male-img {
  width: 137px;
  cursor: pointer;
}
img.who-female-img {
  width: 104px;
  cursor: pointer;
}
img.who-female-img.container {
  width: 104px;
  padding-left: 70px;
  cursor: pointer;
}
img.who-kids-img-container {
  padding-left: 75px;
}
img.who-kids-img {
  margin-top: 130px;
  width: 200px;
  cursor: pointer;
}

div.who-counter-well {
  height: 190px;
  line-height: 3;
  font-size: 50px;
  vertical-align: text-bottom;
  display: inline-block;
}

// When Component
#when-row {
  margin-bottom: 250px;
}
div.chosen-dates {
  margin-left: 50px;
}
h5.when-title {
  font-family: "Baloo Thambi";
}
.when {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}
.when >div>div>input {
  font-family: 'Baloo Thambi'
}
div.DateRangePicker>div.DateRangePicker__Month {
  width: 500px;
}
table.DateRangePicker__MonthDates {
  height: 400px;
  width: 500px;
  font-family: 'Baloo Thambi';
  background-color: white;
  border: 2px solid black;
  box-shadow: -1px -1px 10px black;
}
div.date-inputs > input {
  color: #ff7300;
}

$arrow-size: 8px !default;
$selection-radius: 5px !default;
$selection-margin: 5px !default;
$ns: DateRangePicker !default;

.#{$ns} {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  user-select: none;

  &__Legend {
    color: #52575e;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    // font-family: 'Baloo Thambi';
  }

  &__LegendItem {
    display: inline-block;
    margin: 0 20px;
  }

  &__LegendItemColor {
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin-right: 6px;
    vertical-align: text-bottom;
    width: 14px;
    border: 1px solid rgba(#000, .25);

    &--selection {
      background-color: #ff7300;
    }
  }

  &__PaginationArrow {
    border: 0;
    cursor: pointer;
    display: block;
    height: 35px;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 35px;
    z-index: 1;

    &--previous {
      left: 20px;
    }

    &--next {
      right: 20px;
    }

    &:hover {
      // background-color: #ccc;
    }
  }

  &__PaginationArrowIcon {
    border-bottom: $arrow-size solid transparent;
    border-top: $arrow-size solid transparent;
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;

    &--is-disabled {
      opacity: .25;
    }

    &--previous {
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid #000;
      right: 30px / 2 - ($arrow-size / 2);
    }

    &--next {
      border-left: $arrow-size solid #000;
      border-right: $arrow-size solid transparent;
      left: 30px / 2 - ($arrow-size / 2);
    }
  }

  &__Month {
    color: #ff7300;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    user-select: none;
    width: 275px;
  }

  &__MonthHeader {
    color: #ff7300;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    position: relative;
    text-align: center;
  }

  &__MonthHeaderLabel {
    display: inline-block;
    position: relative;
  }

  &__MonthHeaderSelect {
    background: #e4e4e4;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  &__MonthDates {
    border-bottom: 1px solid #f4f5f6;
    border-collapse: separate;
    border-spacing: 0 1px;
    margin: 0;
    width: 100%;
  }

  &__WeekdayHeading,
  &__Date {
    font-size: 16px;
    line-height: 1;
    padding: 10px 0;
    text-align: center;
    width: 14.285714285714286%;
  }

  &__WeekdayHeading {
    border-bottom: 1px solid #f4f5f6;
    color: #000;
    font-weight: bold;

    abbr[title] {
      border-bottom-width: 0;
      color: #000;
      cursor: pointer;
      font-size: inherit;
      text-decoration: none;
    }
  }

  &__Date {
    border: 0 solid #f4f5f6;
    border-right-width: 1px;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:first-child {
      border-left-width: 1px;
    }

    &--weekend {
      // background-color: #f6f7f9;
    }

    &--otherMonth {
      opacity: .25;
    }

    &--is-disabled {
      color: #cdcdd1;
      cursor: default;
    }

    &--is-selected {
      // color: #fff;
    }

    &--is-highlighted {
      color: #333;
    }
  }

  &__CalendarDatePeriod {
    bottom: 0;
    position: absolute;
    top: 0;

    &--am {
      left: 0;
      right: 50%;
    }

    &--pm {
      left: 50%;
      right: 0;
    }
  }

  &__CalendarSelection {
    background-color: #23b116;
    border: 1px solid darken(#23b116, 5);
    bottom: $selection-margin;
    left: 0;
    position: absolute;
    right: 0;
    top: $selection-margin;

    &--inOtherMonth {
      opacity: .5;
    }

    &--start {
      border-bottom-left-radius: $selection-radius;
      border-right-width: 0;
      border-top-left-radius: $selection-radius;
      left: $selection-margin;
      font-family: 'Baloo Thambi';
    }

    &--end {
      border-bottom-right-radius: $selection-radius;
      border-left-width: 0;
      border-top-right-radius: $selection-radius;
      right: $selection-margin;
      font-family: 'Baloo Thambi';
    }

    &--segment {
      border-left-width: 0;
      border-right-width: 0;
    }

    &--single {
      border-radius: $selection-radius;
      left: $selection-margin;
      right: $selection-margin;
    }

    &--is-pending {
      background-color: rgba(#23b116, .75);
      border-width: 0;
    }
  }

  &__CalendarHighlight {
    background-color: rgba(255, 255, 255, .25);
    border: 1px solid rgba(0, 0, 0, .25);
    bottom: $selection-margin;
    left: 0;
    position: absolute;
    right: 0;
    top: $selection-margin;

    &--inOtherMonth {
      opacity: .5;
    }

    &--start {
      border-bottom-left-radius: $selection-radius;
      border-right-width: 0;
      border-top-left-radius: $selection-radius;
      left: $selection-margin;
    }

    &--end {
      border-bottom-right-radius: $selection-radius;
      border-left-width: 0;
      border-top-right-radius: $selection-radius;
      right: $selection-margin;
    }

    &--segment {
      border-left-width: 0;
      border-right-width: 0;
    }

    &--single {
      background-color: #fff;
      border: 3px solid darken(#23b116, 5);
      border-radius: $selection-radius;
      left: $selection-margin;
      right: $selection-margin;
    }
  }

  &__HalfDateStates {
    bottom: -50px;
    left: -50px;
    position: absolute;
    right: -50px;
    top: -50px;
    transform: rotate(30deg);
  }

  &__FullDateStates {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__DateLabel {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
}

.fp-controlArrow.fp-prev {
  display: none;
}
.fp-controlArrow.fp-next {
  display: none;
}

.intro-right-arrow {
  color: black;
  cursor: pointer;
}
.intro-right-arrow:hover {
  color: white;
  cursor: pointer;
}

div.section.questionnaire {
  padding-left: 110px;
}

// div.who-arrow, div.when-arrow, div.where-arrow {
//   padding-left: 0px;
//   margin-top: 50%;
//   bottom: 0;
//   height: 200px;
//   position: fixed;
//   width: 20%;
// }

i.intro-right-arrow {
  float: right;
}

div.when-arrow {
  padding-left: 0px;
  margin-top: 100%;
}
input#end-date {
  margin-left: 10px;
}

// Where Component

h5.where-title {
  font-family: "Baloo Thambi";
  margin-bottom: 180px;
}

#where-row {
  margin-bottom: 550px;
}
#where-input {
  font-size: 40px;
  height: 50px;
}
#where-input:focus {
  color: #ff7300;
  border-color: #ff7300;
  font-size: 40px;
  height: 50px;
}

div.where-arrow {
  padding-left: 0px;
}


i.fa-arrow-right {
  color: white;
}


//
$outline-width: 0;
$break-point: 500px;

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: lato;
}

$gray-base:     #999999;
$brand-primary: #3498DB; //Zen Blue

.section-header {
  color: $brand-primary;
  font-weight: 400;
  font-size: 1.4em;
}


.steps-header {
  @extend .section-header;
  margin-bottom: 20px;
  text-align: center;
}
.steps-timeline {
  outline: 1px dashed rgba(red, $outline-width);

  @media screen and (max-width: $break-point) {
    border-left: 2px solid $brand-primary;
    margin-left: 25px;
  }

  @media screen and (min-width: $break-point) {
    border-top: 2px solid $brand-primary;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.steps-one,
.steps-two,
.steps-three,
.steps-four {
  outline: 1px dashed rgba(green, $outline-width);

  @media screen and (max-width: $break-point) {
    margin-left: -25px;
  }

  @media screen and (min-width: $break-point) {
    float: left;
    width: 25%;
    margin-top: -50px;
  }
}
.steps-one,
.steps-two,
.steps-three {
  @media screen and (max-width: $break-point) {
    padding-bottom: 40px;
  }
}
.steps-one {
  @media screen and (min-width: $break-point) {
    margin-left: -12.5%;
    margin-right: 12.5%;
  }
}

.steps-four {
  @media screen and (max-width: $break-point) {
    margin-bottom: -100%;
  }
  @media screen and (min-width: $break-point) {
    margin-left: 12.5%;
    margin-right: -12.5%;
  }
}

.steps-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  @media screen and (max-width: $break-point) {
    float: left;
    margin-right: 20px;
  }
}

.steps-name,
.steps-description {
  margin: 0;
}
.steps-name {
  @extend .section-header;

  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}
.steps-description {
  overflow: hidden;

  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}

.ReactFlipCard__Flipper {
  text-align: center;
}

.ReactFlipCard__Back, .ReactFlipCard, .ReactFlipCard__Front {
  width: 100%;
  height: 100%;
  text-align: center;
}

.ReactFlipCard__Front {
  padding: 40px;
}


.flipcard-front>div {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}


.flipcard {
  height: 500px;
  width: 500px;
  padding: 5px;
  background-color: gray;
  margin: 10px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}


// .flipcard-day {
//   padding: 10px;
// }

.flipcard-calendar {
  width: 100%;
  height: 100%;
  padding: 10px;
}

#itinerary-row {
  font-size: 30px;
  text-align: center;
}

p.city-in-itinerary {
  text-transform: capitalize;
  font-size: 60px;
}

i.fa.fa-calendar-o {
  font-size: 150px;
}
